<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
      <li><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
  <% else %>
      <li><%= social_auth_links(tag: 'li') %></li>
  <% end %>
</ul>