<% if user_signed_in? %>
    <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: 'header__link' %>
<% else %>
    <div class="social social--header">
      <%= social_auth_links %>
    </div>
<% end %>