<ul class="nav navbar-nav">
  <li><%= link_to 'menu1', root_path, class: "nav__link #{(current_page?(root_path) ? 'nav__link--active' : '')}" %></li>
  <li><%= link_to 'menu2', root_path, class: "nav__link #{(current_page?(root_path) ? 'nav__link--active' : '')}" %></li>
</ul>
