<div class="footer__text">
  Phone
</div>
<a href="tel:88007009039" class="footer__phone">
  8 800 000 00 00
</a>
<div class="footer__button">
  <%= link_to 'link', '', class: 'button button--link button--yellow button--sm' %>
</div>