<div class="header">
  <div class="header__top">
    <div class="page-width">
      <div class="header__left">
        <%= render 'application/header/contacts' %>
      </div>

      <div class="header__right">
        <%= render 'application/header/login' %>

        <%= render 'application/header/languages' %>

      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="page-width">
      <%= render 'application/header/menu' %>

      <a href="" class="burger"><span></span></a>
    </div>
  </div>
</div>